apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "external-dns.name" . }}
  annotations:
    {{ .Values.serviceAccount.annotations | toYaml }}
  labels: 
{{ include "external-dns.labels" . | indent 4 }}
